<html>
 <head>
  <title>{{ author }}'s app</title>
  </style>
 </head>

 <body>
  <h2>Hello {{ name}}!</h2>
   <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a> 

   <blockquote>Nerds like us are allowed to be unironically enthusiastic about stuff. Nerds are allowed to love stuff - like, jump-up-and-down-in-your-chair-can't-control-yourself love it. When people call other people nerds, mostly what they're saying is "You like stuff", which is not a good insult at all. Like, "You are too enthusiastic about the miracle of human consciousness".</blockquote>
   <div class="cite">John Green</div>

<li><a href="static/indexx.html">sub</a></li>

 </body>
</html>
		